<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/action3"></ion-back-button>
    </ion-buttons>
    <ion-title>Realizar Cobro de Credito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Lista de Cobranzas </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let cred of credit">
    <ion-card-header>
      <ion-card-title> {{cred.nomPro}} </ion-card-title>
      <ion-card-subtitle> Cantidad Vendida: {{cred.cantVend}} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Tipo de Pago: {{cred.tipoPago}} </ion-card-content>
    <ion-card-content> Monto de Deuda Pendiente: {{cred.montoCred}} </ion-card-content>
    <ion-item>
      
    </ion-item>
  </ion-card>

  <!--<form>
    <ion-list>

      <ion-item-divider>
        <ion-label>Datos de la Deuda</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label position="floating">Tipo de Pago</ion-label>
        <ion-input name="tipoPago" type="text" [(ngModel)]="credit.tipoPago" disabled required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Monto Total de Deuda</ion-label>
        <ion-input name="montoCred" type="text" [(ngModel)]="credit.montoCred" disabled required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Monto a Cobrar del Cliente</ion-label>
        <ion-input name="credAdd" type="text" [(ngModel)]="upCreditCollet.credAdd" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Estado de la Deuda</ion-label>
        <ion-input name="estadoCred" type="text" [(ngModel)]="credit.estadoCred" disabled required></ion-input>
      </ion-item>
      
    </ion-list>

    <ion-button color="tertiary" shape="round" (click)="upCredit()">Realizar Cobro de Deuda</ion-button>

  </form>-->
</ion-content>
